/*
Colors
 */
:root {
  --black: #252525;
  --light-black: #333333;
  --background-primary: #F4F4F4;
  --grey: #858585;
  --nav-grey: #999999;
  --red: #FF1744;
  --dark-red: #a51328;
  --white: #fff;
  --medium: 500;
  --bold: 700;
  --regular: 400;
  --light: 300;
  --extra-bold: 900;
  --nav-height: 60px;
  --shadow: 0px 3px 6px 0px rgba(37, 37, 37, 0.25);
}

$decelerate: cubic-bezier(0.0, 0.0, 0.2, 1);
$accelerate: cubic-bezier(0.4, 0.0, 1, 1);

/*
General
 */
ul, li {
  padding:0;
  margin:0;
}

li, a, p, b, span, h1, h2, h3, label, input, td, th {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: 0;
}

a, button {
  cursor: pointer;
  text-decoration: none;
  user-select: none;
}

body {
  background: var(--background-primary);
  margin: var(--nav-height) 0 0;
}

body, html {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  overflow:hidden;
  &.loaded {
    overflow-y: scroll!important;
  }
}

.material-icon {
  font-family: 'Material Icons', sans-serif;
  font-feature-settings: 'liga';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

/*
Navigation
 */
nav {
  background: var(--light-black);
  height: var(--nav-height);
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  z-index: 5;
  top:0;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  ul {
    display: inline-flex;
    align-items: center;
    list-style: none;
    li {
      user-select: none;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 14px;
      a {
        display: inline-flex;
        align-items: center;
        color: var(--nav-grey);
        &:hover {
          color: var(--white);
        }
        i {
          margin-right: 6px;
          font-size: 18px!important;
        }
      }
    }
  }
}
.pull-left {
  position: absolute;
  left:25px;
  margin-left:0;
}


@media only screen and (max-width: 530px) {
  .modal-container {
    margin-left: 0!important;
    margin-right: 0!important;
  }
}

@media only screen and (max-width: 750px) {
  .calendar {
    width: 100%!important;
  }
}

@media only screen and (max-width: 1540px) {
  #modules-container {
    margin-right: 65px!important;
  }

  #period-container {
    margin: 5px 65px 25px!important;
    width: calc(100% - 660px)!important;
  }
}

@media only screen and (max-width: 1200px) {
  .pull-left {
    display: block;
    position: relative;
    left:0;
    margin-left: 42px!important;
  }
    
    .pull-right {
        position: relative!important;
    }

  .modal {
    width: 100%!important;
  }

  #modules-container {
    position: relative!important;
    margin: auto!important;
    margin-bottom: 50px!important;
    margin-top: 28px!important;
    width: 98%!important;
  }

  #period-container {
    width: 98%!important;
    margin: auto!important;
    right:0;
  }

  nav {
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    ul {
      display: block!important;
      li:not(.nav-brand) {
        display: none!important;
      }
    }
  }

  .profile {
    margin-bottom: 4px;
      img {
          margin-bottom: 4px;
      }
  }

  .open {
    li:not(.nav-brand) {
      display: block!important;
    }
  }

  .toggler {
    display: inline-block!important;
  }
}

@media only screen and (max-width: 475px) {

  #next {
    margin-right: 15px!important;
  }

  #prev {
    margin-left: 15px!important;
  }

  .period {
    width: 100%!important;
    padding-left: 0!important;
    padding-right: 0!important;
    .left {
      margin-left: 20px!important;
    }
    .right {
      margin-right: 20px!important;
    }
  }
}
.toggler {
  display: none;
  position: absolute;
  left: 18px;
  span {
    display: block;
    background: var(--white);
    margin-bottom: 3px;
    margin-top: 3px;
    width: 22px;
    height: 3px;
    opacity: 0.75;
  }
}

.pull-right {
  position: absolute;
  right:25px;
}

.nav-brand {
  svg {
    width: 110px;
    display: inline-block;
  }
}
.profile {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  img {
    display: inline-block;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    background: var(--black);
  }
  b {
    font-weight: var(--medium);
    color: var(--white);
  }
  span {
    font-weight: var(--medium);
    color: var(--nav-grey);
  }
}

.profile-info {
  display: inline-block;
  p, b {
    display: block;
  }
}

header {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 300px;
  background: linear-gradient(rgba(37, 37, 37, .85), rgba(37, 37, 37, .85)), url("https://kotoday.org/img/bk.webp") no-repeat fixed center;
  background-size: cover;
  margin-bottom: 25px;
}

.nowebp header {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 200px;
  background: linear-gradient(rgba(37, 37, 37, .85), rgba(37, 37, 37, .85)), url("https://kotoday.org/img/bk.png") no-repeat fixed center;
  background-size: cover;
  margin-bottom: 25px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 350px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  h1 {
    font-size: 34px;
    color: #fff;
    margin-bottom: -4px;
  }
  span {
    font-size: 14px;
    color: var(--nav-grey);
    font-weight: var(--medium);
  }
  p {
    margin-top: 6px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 12px;
    color: var(--nav-grey);
    text-wrap: normal;
  }
}

.header-navigation {
  width: 100%;
  position: absolute;
  bottom: -20px;
  a {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    background: var(--red);
    border-radius: 100%;
    color: var(--white);
    padding: 14px;
    box-shadow: var(--shadow);
    z-index: 1;
    user-select: none;
    transition: 250ms background-color $decelerate;
    &:active {
      background: var(--dark-red);
    }
  }
}
#next {
  float: right;
  margin-right: 45px;
}

#prev {
  float: left;
  margin-left: 45px;
}

.button {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: var(--medium);
  color: var(--white);
  background: var(--red);
  border-radius: 2px;
  padding: 14px 18px;
  box-shadow: var(--shadow);
  user-select: none;
  transition: 250ms background-color $decelerate;
  &:active {
    background: var(--dark-red);
  }
}
/*
Period
 */
#period-container {
  width: calc(100% - 730px);
  position: absolute;
  margin: 5px 100px 25px;
  left: 0;
}

#modules-container {
  width: 485px;
  position: absolute;
  margin-top: 44px;
  margin-bottom: 25px;
  margin-right: 100px;
  right: 0;
}

.module {
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 2px;
  padding: 25px;
}

.weather-module {
  text-align: center;
  span {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--grey);
    font-weight: var(--medium);
    display: block;
    margin-bottom: 10px;
  }
  b {
    font-weight: var(--bold);
    font-size: 18px;
  }
  .weather-current {
    span {
      font-size: 14px;
      color: var(--grey);
      font-weight: var(--regular);
      display: block;
      text-transform: none;
      margin-bottom: 0;
      &:last-of-type {
        margin-bottom: 16px;
      }
      &:first-of-type {
        margin-top: 4px;
      }
    }
  }

  .weather-current-temp {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    p {
      font-size: 30px;
      font-weight: var(--regular);
    }
    i {
      font-size: 29px;
      opacity: 0.5;
    }
  }

  .weather-forecast {
    width: 100%;
    display: inline-flex;
  }

  .weather-forecast-item {
    flex: 1;
      transition: 0.75s $decelerate;
      &.active {
          background: var(--background-primary);
          border-radius: 2px;
      }
      &:active {
          background: #e1e1e1;
      }
    b {
      font-size: 14px;
      font-weight: var(--medium);
    }
    i {
      color: var(--grey);
      opacity: 0.5;
      display: block;
      font-size: 20px;
      margin-top: 4px;
      margin-bottom: 8px;
    }
    span {
      font-weight: var(--regular);
      font-size: 12px;
      color: var(--grey);
    }
  }

}


.period {
  width: calc(98% - 50px);
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 2px;
  position: relative;
  padding: 30px 30px;
  transition: 300ms $decelerate;
  margin: 20px auto;
}

.secondary-container {
  padding-top: 0!important;
}

.primary-container, .secondary-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.center, .left, .right {
  flex: 1;
}

.period-name {
  display: block;
  b {
    font-weight: var(--bold);
    font-size: 18px;
    display: inline-block;
  }
  span {
    display: inline-block;
    color: var(--grey);
    font-size: 14px;
  }
}

.center {
  text-align: center;
  b {
    font-size: 18px;
  }
}

.time-remaining {
  position: relative;
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.time-gauge {
  display: inline-flex;
  align-items: center;
  span {
    font-weight: var(--bold);
    color: var(--grey);
    font-size: 14px;
  }
  .dots {
    display: inline-flex;
    align-items: center;
    margin-left: 8px;
    div:not(.material-icon) {
      display: flex;
      border-radius: 100%;
      background: var(--nav-grey);
      height: 5px;
      width: 5px;
      opacity: .35;
      margin-right: 2px;
      margin-left: 2px;
      transition: 0.3s ease-in-out;
      &.active {
        background: var(--red);
        opacity: 1;
      }
    }
    .material-icon {
      color: var(--nav-grey);
      opacity: .35;
      margin-left: -8px;
      transition: 0.3s ease-in-out;
      &.active {
        color: var(--red);
        opacity: 1;
      }
    }
  }
}

.icon-group {
  margin-top: 4px;
  margin-bottom: 4px;
  display: block;
  div {
    display: inline-flex;
    align-items: center;
  }
  i {
    background: var(--red);
    border-radius: 2px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 4px;
  }
  a {
    font-weight: var(--medium);
  }
  span,a {
    margin-left: 6px;
    font-size: 16px;
    color: var(--grey);
  }
}

.time-remaining {
  b {
    font-weight: var(--medium);
    font-size: 16px;
    display: block;
  }
  span {
    font-size: 12px;
    color: var(--grey);
  }
}

.flex-warning {
  position: absolute;
  right: 20px;
  top: 15px;
  display: inline-flex;
  align-items: center;
  i, b {
    color: var(--red);
  }

  i {
    transform: rotate(180deg);
    font-size: 14px;
  }

  b {
    font-style: italic;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: var(--extra-bold);
  }
}

.events-container {
  margin-top: 10px;
  width: 100%;
  b {
    display: block;
    font-weight: var(--medium);
    font-size: 16px;
    margin-bottom: 8px;
  }
}
.event {
  &:nth-of-type(odd) {
    border-bottom: 1px solid rgba(153,153,153, .3);
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

//Logo
img {
  user-select: none;
}
.cls-1 {
  fill: var(--red);
}
.cls-2 {
  fill: var(--white);
}

.no-school {
  text-align: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  b {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
  }

  img {
    display: block;
    width: 250px;
    border-radius: 2px;
    box-shadow: var(--shadow);
    margin: auto auto 12px;
    background: var(--nav-grey);
  }
}

.preloader {
  text-align: center;
  margin-top: 50px;
  width: 100%;
  position: absolute;
  img {
    width: 84px;
    vertical-align: middle;
    margin: auto;
    display: block;
  }
  b {
    font-weight: 700;
    font-size: 14px;
    color: var(--nav-grey);
    text-transform: uppercase;
  }
  margin-bottom: 50px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.modal-overlay {
  background: rgba(0,0,0,.75);
  position: fixed;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 6;
}

.modal {
  z-index: 7;
  background: #fff;
  border-radius: 4px;
  width: 60%;
  position: fixed;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
  top:0;
  bottom:0;
    left:0;
    right:0;
  margin: 35px auto;
}

.modal-container {
  text-align: center;
  margin: 25px 50px 50px;
  h1 {
    font-size: 34px;
  }
}

.edit-periods {
  text-align: left;
  width: 70%;
  margin: 20px auto auto;
  span {
    font-weight: var(--medium);
    color: var(--grey);
    font-size: 16px;
    display: block;
    margin-bottom: -16px;
  }
}

.period-edit {
  margin-top: 26px;
  margin-bottom: 26px;
  b {
    display: block;
    font-weight: var(--bold);
    font-size: 18px;
    margin-bottom: -4px;
  }
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  label {
    font-weight: var(--medium);
    color: var(--grey);
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
  }
  input {
    background: var(--background-primary);
    border: none!important;
    outline: none!important;
    box-shadow: none!important;
    font-size: 16px;
    color: var(--grey);
    border-radius: 4px;
    padding: 15px 0 15px 0;
    text-indent: 15px;
    width: 100%;
  }
}

button[type="submit"] {
  background: var(--red);
  border-radius: 4px;
  border:0;
  outline: 0;
  font-family: "Roboto", sans-serif;
  font-weight: var(--medium);
  color: #fff;
  font-size: 14px;
  width: 100%;
  box-shadow: var(--shadow);
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 250ms background-color $decelerate;
  &:active {
    background: var(--dark-red);
  }
}

.modal-close {
  position: absolute;
  right: 20px;
  top:20px;
  font-size: 18px;
  color: var(--grey);
}

.saved {
  border-radius: 4px;
  background: var(--red);
  position: fixed;
  bottom:15px;
  left:25px;
  padding: 15px;
  box-shadow: var(--shadow);
  z-index: 9;
  text-align: center;
  b {
    color: #fff;
    font-weight: var(--medium);
    text-transform: uppercase;
    font-size:14px;
    opacity: 0.75;
  }
}

a.disabled {
  cursor: not-allowed;
  opacity: 0.75;
  &:hover {
    color: var(--nav-grey);
  }
}

.day-info {
  text-align: center;
  color: var(--grey);
  font-weight: var(--medium);
  font-size: 16px;
}

.calendar {
  width: 75%;
  margin: 35px auto auto;
  .row {
    display: flex;
    .day {
      &.filler {
        color: #25252570;
      }
      display: inline-block;
      flex: 1;
      padding: 16px;
      font-weight: var(--medium);
      font-size: 14px;
      position: relative;
      &:after {
        z-index: -1;
        content: '';
        position: absolute;
        top:0;
          left:0;
          right:0;
        bottom:0;
        height: 40px;
        width: 40px;
        margin: auto;
        transition: 0.15s $accelerate;
        background: transparent;
        border-radius: 100%;
      }
      &:hover {
        &:after {
          background: var(--background-primary);
        }
      }
      &:active {
        &:after {
          background: #c5c5c5;
        }
      }
      &.current {
        color: var(--white);
        &:after {
          background: var(--red);
        }
      }
      &.selected {
        &:after {
          background: var(--background-primary);
        }
      }
    }
    .day-labels {
      display: inline-block;
      flex: 1;
      margin: 16px;
      overflow: hidden;
      color: var(--grey);
    }
  }
}

.calendar-header {
  justify-content: center;
  margin-bottom: 10px;
  p {
    font-weight: var(--regular);
    color: var(--grey);
  }
}

.calendar-prev {
  float: left;
  color: var(--grey);
  margin-left: 20px;
}

.calendar-next {
  float: right;
  color: var(--grey);
  margin-right: 20px;
}

.preloader-main {
  background:var(--black);
  position: fixed;
  top:0;
  bottom:0;
  width: 100%;
  display: flex;
  z-index: 10;
  &.loaded {
    animation: preloadEnd $decelerate 0.3s forwards;
  }
  svg {
    width: 300px;
    opacity: 0;
    animation: preloadSVGEnter cubic-bezier(0.0, 0.0, 0.2, 1) 0.6s forwards;
    z-index: 2;
    margin: auto;
  }
}

@keyframes preloadSVGEnter {
  0% {
    transform: translateY(50px);
    opacity:0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes preloadTextEnter {
  0% {
    transform: translateY(-10px);
    opacity:0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes preloadProgressEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes preloadProgressBarEnter {
  0% {
    transform: translateX(-300px);
  }

  100% {
    transform: translateX(0);
  }
}

.preloader-inner {
  display: flex;
  flex-direction: column;
  margin: auto;
  span {
    margin-top: 4px;
    opacity: 0;
    color: rgba(255,255,255,.5);
    font-family: "Roboto", sans-serif;
    text-align: center;
    z-index: 1;
    animation: preloadTextEnter cubic-bezier(0.0,0.0,0.2,1) 0.45s forwards;
  }
}

.progress {
  background: #373737;
  height: 4px;
  position: relative;
  width: 300px;
  overflow: hidden;
  opacity: 0;
  animation: preloadProgressEnter cubic-bezier(0.0,0.0,0.2,1) 1.6s forwards;
  animation-delay: 500ms;
  margin: 16px auto auto;
}

.progress:after {
  content: '';
  background: #FF1744;
  width: 100%;
  position: absolute;
  top: 0;
  bottom:0;
  transform: translateX(-300px);
  animation: preloadProgressBarEnter cubic-bezier(0.0,0.0,0.2,1) 2.5s forwards;
  animation-delay: 750ms;
}

@keyframes preloadEnd {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}