@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons");
/*
Colors
 */
:root {
  --black: #252525;
  --light-black: #333333;
  --background-primary: #F4F4F4;
  --grey: #858585;
  --nav-grey: #999999;
  --red: #FF1744;
  --white: #000; }

/*
General
 */
ul, li {
  padding: 0;
  margin: 0; }

/*
Navigation
 */
nav {
  background: var(--light-black);
  height: 60px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-items: center; }
  nav ul {
    list-style: none; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.nav-brand img {
  width: 110px;
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
