/*
Colors
 */
:root {
  --black: #252525;
  --light-black: #333333;
  --background-primary: #F4F4F4;
  --grey: #858585;
  --nav-grey: #999999;
  --red: #FF1744;
  --white: #fff;
  --medium: 500;
  --bold: 700;
  --regular: 400;
  --light: 300;
  --extra-bold: 900;
  --nav-height: 60px;
  --shadow: 0px 3px 6px 0px rgba(37, 37, 37, 0.25); }

/*
General
 */
ul, li {
  padding: 0;
  margin: 0; }

li, a, p, b, span, h1, h2, h3 {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: 0; }

a {
  cursor: pointer; }

body {
  background: var(--background-primary);
  margin: var(--nav-height) 0 0; }

.ko_0db {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased; }

/*
Navigation
 */
nav {
  background: var(--light-black);
  height: var(--nav-height);
  width: 100%;
  position: fixed;
  z-index: 5;
  left: 0;
  right: 0;
  top: 0;
  display: inline-flex;
  align-items: center;
  justify-items: center; }
  nav ul {
    display: inline-flex;
    align-items: center;
    list-style: none; }
    nav ul li {
      user-select: none;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 14px; }
      nav ul li a {
        display: inline-flex;
        align-items: center;
        color: var(--nav-grey); }
        nav ul li a:hover {
          color: var(--white); }
        nav ul li a i {
          margin-right: 6px;
          font-size: 18px !important; }

.ko_019 {
  position: absolute;
  left: 25px; }

.ko_5bb {
  position: absolute;
  right: 25px; }

.ko_66a img {
  width: 110px;
  display: inline-block; }

.ko_b47 {
  display: inline-flex;
  align-items: center; }
  .ko_b47 img {
    display: inline-block;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    margin-right: 8px;
    background: var(--black); }
  .ko_b47 b {
    font-weight: var(--medium);
    color: var(--white); }
  .ko_b47 span {
    color: var(--nav-grey); }

.ko_a20 {
  display: inline-block; }
  .ko_a20 p, .ko_a20 b {
    display: block; }

header {
  position: relative;
  display: flex;
  width: 100%;
  height: 200px;
  background: linear-gradient(rgba(37, 37, 37, 0.85), rgba(37, 37, 37, 0.85)), url("http://www.trbimg.com/img-57648f6c/turbine/hc-kingswood-oxford-sexual-misconduct-0618-20160617") no-repeat fixed center;
  background-size: cover; }

.ko_e08 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 350px;
  margin: auto; }
  .ko_e08 h1 {
    font-size: 34px;
    color: #fff;
    margin-bottom: -4px; }
  .ko_e08 span {
    font-size: 14px;
    color: var(--nav-grey);
    font-weight: var(--medium); }
  .ko_e08 p {
    margin-top: 4px;
    text-align: left;
    font-size: 12px;
    color: var(--nav-grey);
    text-wrap: normal; }

.ko_cd0 {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 235px;
  z-index: 1; }
  .ko_cd0 a {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    font-size: 16px;
    background: var(--red);
    border-radius: 100%;
    color: var(--white);
    padding: 14px;
    box-shadow: var(--shadow);
    z-index: 1;
    user-select: none; }

#ko_4a3 {
  position: absolute;
  right: 25px; }

#ko_86c {
  position: absolute;
  left: 25px; }

.ko_f3c {
  display: inline-flex;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: var(--medium);
  color: var(--white);
  background: var(--red);
  border-radius: 2px;
  padding: 14px 18px;
  box-shadow: var(--shadow);
  user-select: none; }

/*
Period
 */
#ko_9b6 {
  width: 100%;
  margin: 25px auto auto; }

.ko_b3d {
  width: 75%;
  background: var(--white);
  box-shadow: var(--shadow);
  border-radius: 2px;
  position: relative;
  padding: 15px 20px;
  margin: 20px auto; }
  .ko_b3d.ko_0cb {
    padding: 20px 25px; }

.ko_f81 {
  padding-top: 0 !important; }

.ko_344, .ko_f81 {
  display: inline-flex;
  align-items: center;
  width: 100%; }

.ko_b00, .ko_c2c, .ko_41a {
  flex: 1; }

.ko_c2c b {
  font-weight: var(--bold);
  font-size: 18px;
  display: block; }

.ko_b00 {
  text-align: center; }
  .ko_b00 b {
    font-size: 18px; }

.ko_cd7 {
  position: relative;
  float: right; }

.ko_8ab {
  display: inline-flex;
  align-items: center; }
  .ko_8ab span {
    font-weight: var(--bold);
    color: var(--grey);
    font-size: 14px; }
  .ko_8ab .ko_a3c {
    display: inline-flex;
    align-items: center;
    margin-left: 8px; }
    .ko_8ab .ko_a3c div:not(.ko_0db) {
      display: flex;
      border-radius: 100%;
      background: var(--nav-grey);
      height: 5px;
      width: 5px;
      opacity: .35;
      margin-right: 2px;
      margin-left: 2px; }
      .ko_8ab .ko_a3c div:not(.ko_0db).ko_ad8 {
        background: var(--red);
        opacity: 1; }
    .ko_8ab .ko_a3c .ko_0db {
      color: var(--nav-grey);
      opacity: .35;
      margin-left: -8px; }

.ko_90c {
  margin-top: 4px;
  margin-bottom: 4px;
  display: block; }
  .ko_90c div {
    display: inline-flex;
    align-items: center; }
  .ko_90c i {
    background: var(--red);
    border-radius: 2px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 4px; }
  .ko_90c span {
    margin-left: 6px;
    font-size: 16px;
    color: var(--grey); }

.ko_cd7 b {
  font-weight: var(--medium);
  font-size: 16px;
  display: block; }

.ko_cd7 span {
  font-size: 12px;
  color: var(--grey); }

.ko_7b4 {
  position: absolute;
  right: 20px;
  top: 15px;
  display: inline-flex;
  align-items: center; }
  .ko_7b4 i, .ko_7b4 b {
    color: var(--red); }
  .ko_7b4 i {
    transform: rotate(180deg);
    font-size: 14px; }
  .ko_7b4 b {
    font-style: italic;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: var(--extra-bold); }

.ko_1e8 {
  margin-top: 20px;
  width: 100%; }
  .ko_1e8 b {
    display: block;
    font-weight: var(--medium);
    font-size: 16px;
    margin-bottom: 8px; }

.ko_9d4:nth-of-type(odd) {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding-bottom: 15px;
  margin-bottom: 15px; }

